
header,section,article,figure{
    display: block;
}
*,html,body{
    padding: 0;
    margin: 0;
}
body,p,ul,li,span,i,strong,input,textarea{
    font-size: 14px;
    font-family: "微软雅黑";
    font-style: normal;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #000;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
article{
    float: left;
    width: 1200px;
    height: 50px;
}
.dl{
    position: absolute;
    right: 50px;
    top: 30px;
    width: 150px;
    height: 10px;
    float: left;
}
.dh{
    position: absolute;
    left: 50px;
    width: 300px;
    height: 100px;
    float: left;
}
.dh .jdtp{
    float: left;
}

.dl p{
    margin-top: 15px;
    color: #696969;
    display: inline;
}
.dl a{
    margin-top: 15px;
    color: #DD2E12;
    display: inline;
}
.dl a:hover{
    color: #FF0000;
    text-decoration: underline;
}
section{
    position: relative;
    width:100%;
    height:800px;

    box-shadow:inset 0 0 0 2px #A9A9A9;  /*水平线阴影*/
    border-top: #f4f4f4 solid 1px;
}
.bd{
    width:1200px;
    height:600px;
    margin-left:200px;
    margin-right: 200px;
    margin-top:100px;
    border-bottom: #999999 solid 1px;
}
#zhuce{
    width:400px;
    height: 420px;

    margin: 0 auto;
}
.num{
    width: 380px;
    height: 54px;
    margin-left: 10px;
    margin-right: 10px;

}


.check{
    width:380px;
    height: 55px;
    margin:0 auto;
    margin-top: 30px;
    border:darkgray solid 1px;
}

.db{
    width:380px;
    height: 40px;
    margin:0 auto;
    margin-top: 20px;
}
.gs_icon img{
    float: left;
    width:35px;
    height:35px;
    margin-top: 3px;
}
.gs p{
    float: left;
    width:100px;
    margin-top:12px;
    margin-left:5px;
    font-family: "微软雅黑";
    font-size:12px;
    color:dimgrey;
}
.gs a:hover{
    color:#dd2e12;
}
.gj_icon img{
    margin-top: 4px;
    float: right;
    width: 33px;
    height:33px;
    margin-right: 5px;
}
.gj p{
    margin-top: 12px;
    margin-right: 5px;
    float: right;
    color:dimgrey;
    font-family:"微软雅黑";
    font-size:12px;
    color: dimgrey;
}
.gj a:hover{
    color:#dd2e12;
}

.sz{
    width: 380px;
    height: 27px;
    color: darkgray;
}
.sz p{
    margin-bottom: 10px;
    /*left:300px;
    top:250px;
    position: absolute;*/
    font-size:24px;
    color: darkgrey;
    display: inline;
}
.one{
    margin-left: 25px;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;    /*圆形边框定义*/
    -moz-border-radius:50%;
    border-radius:50%;
    color: white;
    background: limegreen;
}
.two{
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border-radius:50%;
    /*color: white;*/
    /*background: limegreen;*/
}
.three{
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border-radius:50%;
    /*color: white;*/
    /*background: limegreen;*/
}
.nr{
    width:450px;
    height: 27px;
    margin-top: 10px;
    color: darkgray;
}
.yzsjh{
    margin-left: 10px;
    width: 125px;
    height: 26px;
    margin-right:50px;
}
.yzsjh p{
    text-align: left;
    display: inline;
}
.tzxx{
    height: 26px;
    width: 150px;
    margin-right:50px;
}
.tzxx p{
    text-align: center;
    display: inline;
}
.zccg{
    height: 26px;
    width:100px;
}
.zccg p{
    text-align: right;
    display: inline;
}
.zg{
    padding-top: 15px;
    float: left;
    text-align:center;
    font-family: "微软雅黑";
    font-size: 14px;
    color:#696969;
    margin-right:10px;
    margin-left: 10px;
    margin-top: 3px;
}
.phone input{
    padding-left: 20px;
    width:290px;
    height: 55px;
    float: left;
    font-family: "微软雅黑";
    font-size:18px;
    color: gray;
    display: inline;
    border:0;
    border-left:#A9A9A9 solid 1px;
}

.next input{
    width:380px;
    height:55px;
    border: 0;
    color: white;
    background:#e2231a;
}


footer{
    position: absolute;
    bottom:10px;
    right:280px;
    width: 1000px;
    height: 100px;
}
nav{
    position: absolute;
    top: 20px;
    left:50px;
    height: 20px;
    width:900px;
}
.low{
    position: absolute;
    top:50px;
    left:350px;
    width: 350px;
    height: 20px;

}
.low p{
    position: absolute;
    bottom:8px;
    left: 10px;
    font-size:10px;
    font-family: "微软雅黑";
    text-align: center;
    color: grey;
}
.gywm{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.gywm a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.gywm a{
    color: grey;
}
.lxwm{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.lxwm a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.lxwm a{
    color: grey;
}
.rczp{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.rczp a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.rczp a{
    color: grey;
}
.sjrz{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.sjrz a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.sjrz a{
    color: grey;
}
.ggfw{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.ggfw a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.ggfw a{
    color: grey;
}
.sjjd{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.sjjd a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.sjjd a{
    color: grey;
}
.yqlj{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.yqlj a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.yqlj a{
    color: grey;
}
.xslm{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.xslm a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.xslm a{
    color: grey;
}
.jdsq{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.jdsq a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.jdsq a{
    color: grey;
}
.jdgy{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
    padding-right:14px;
    border-right:#999999 solid 1px;
}
.jdgy a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.jdgy a{
    color: grey;
}
.yyz{
    float: left;
    color: grey;
    font-size: 12px;
    padding-left:15px;
}
.yyz a:hover{
    color:#dd2e12;
    text-decoration: underline;
}
.yyz a{
    color: grey;
}

.huangying{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 190px;
    top:10px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
    color: gray;
}
.dh .hyzc{
    margin-top:20px;
    width: 180px;
    height: 60px;
    float: left;
}
 .email{
    padding-top: 15px;
    float: right;
    text-align:center;
    font-family: "微软雅黑";
    font-size: 14px;
    color:#696969;
    margin-right:10px;
    margin-right: 10px;
    margin-top: 3px;
}

.three4{
    width:380px;
    height: 55px;
    margin:0 auto;
    margin-top: 30px;
    border: #656363 solid 1px;
}
.three4 input{
    /*padding-left: 20px;*/
    width:285px;
    height: 55px;
    float: left;
    font-family: "微软雅黑";
    font-size:14px;
    color: gray;
    display: inline;
    border:1px;
    border-left:#A9A9A9 solid 1px;
}
